{%extends 'base.html' %}

{%block head%}

{% endblock %}

{% block body %}

<div class="addTreino">
    <img class="addTreino" src="{{ url_for('static', filename='images/treino.jpeg') }}"/>
    <form class="treino_form" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Epoca</label>
          <select name="inputEpoca" id="inputEpoca" class="form-control">
            <option selected>2019-2020</option>
          </select>
        </div>
      </div>
    </form>
    <div class="row-fluid">
        <div class="span2">Epoca</div>
        <div class="span2">Tipo de Treino</div>
        <div class="span2">Metereologia</div>
        <div class="span2">Local</div>
    </div>
    <!--
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Epoca</th>
          <th scope="col">Tipo de Treino</th>
          <th scope="col">Metereologia</th>
          <th scope="col">Local</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        {% for treino in data %}
        <tr>
            <td>{{ treino[1] }}</td>
            <td>{{ treino[3] }}</td>
            <td>{{ treino[2] }}</td>
            <td>{{ treino[6] }}</td>
            <td>{{ treino[7] }}</td>
            <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse">Ver mais</button>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">Panel Body</div>
                </div>
            </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    -->

</div>
{% endblock%}