<!DOCTYPE HTML>

<html>
	<head>
		<title>Grupo Desportivo de Penela</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- title font -->
		<link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<!--
				<img src="static/images/PenelaEmblema.jpg" alt="" />
				-->
				<a href="#" class="logo">Grupo Desportivo Penela</a>
				<!--
				<nav class="right">
					<a href="/login" class="button alt">Log in</a>
				</nav>
				-->
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/sede">Sede</a></li>
                    <li><a href="elements.html">Jogos</a></li>
					<li><a href="elements.html">Calendario</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="/login" class="button fit">Login</a></li>
				</ul>
			</nav>

<!--Carousel Wrapper-->

      <!--
      Carousel
      -->
	<div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/IMG_0900.jpg') }}" >
          </div>
        </div>
        <div class="carousel-item">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/IMG_1028.jpg') }}">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/IMG_1041.jpg') }}">
          </div>
        </div>
      </div>
    </div>





      <!--
      END Carousel
      -->
		<section id="banner">
						<div class="content">
								<p>#Raça #Querer #Ambição</p>

						</div>
		{% block body %}
			{% if data[1] is not none and data[3] is not none and data[4] is not none and data[6] is not none:  %}
		<div class="highlight-event-match">
				<div class="wrapper">


							<div class="container">
							  <div class="row justify-content-md-center jogo">
								<div class="col col-lg-2">
								  <div class="highlight-event-team-name">{{ data[4] }} </div>
								</div>
								<div class="col-md-auto">
								  <div class="competition-name">16º Campeonato Amador Vale do Cávado - {{ data[1] }} </br>
										Jornada {{ data[3] }} </br>
										Campo da {{ data[6] }} - 10h00
									  </div>
								</div>
								<div class="col col-lg-2">
								  <div class="highlight-event-team-name">{{ data[5] }} </div>
								</div>
							  </div>
					  		</div>
							{% endif %}
					</div>

				</div>
			{% endblock %}
		</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3><a href="/sede">Sede</a></h3>
							<p>Informacoes sobre a sede do Grupo Desportivo de Penela e contactos</p>
						</div>
						<div>
							<h3><a href="/sede">Direcao e Palmares</a></h3>
							<p>Informacoes sobre a sede do Grupo Desportivo de Penela e contactos</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="static/images/PenelaEmblema.jpg" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3><a href="/plantel">Plantel 2019/2020</a></h3>
							<p>Plantel para a época 2019/2020<br /></p>
						</div>
						<div>
							<h3>
								<a href="/calendario">Calendário</a>
							</h3>
							<p>Calendario desportivo da epoca 2019/2020 de forma a acompanhar todos os jogos</p>
						</div>
					</div>
				</div>
			</section>

	<!-- Patrocinadores

			<div class="sponsers-section section">
    <div class="inner-sponsers">
        <div class="row centered sponsers-slick-wrapper">
			<div class="sponser" style="width: 33%;">
				<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
					<img class='b-lazy' src="static/images/patrocinadores/SergioRebelo.jpg" width="180" height="126" DisableWebEdit="False" />
				</a>
			</div>
			<div class="sponser" style="width: 33%;">
				<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
					<img class='b-lazy' src="static/images/patrocinadores/SergioRebelo.jpg" width="180" height="126" DisableWebEdit="False" />
				</a>
			</div>
			<div class="sponser" style="width: 33%;">
				<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
					<img class='b-lazy' src="static/images/patrocinadores/SergioRebelo.jpg" width="180" height="126" DisableWebEdit="False" />
				</a>
			</div>
-->

		<section id="two" class="wrapper">
				<div class="inner flex flex-3">
						<div>
							<div class="sponser" style="width: 25%;">
								<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
									<img class='b-lazy' src="static/images/patrocinadores/SergioRebelo.jpg" width="180" height="126" DisableWebEdit="False" />
								</a>
							</div>
						</div>
						<div>
							<div class="sponser" style="width: 25%;">
								<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
									<img class='b-lazy' src="static/images/patrocinadores/ECOFIRMA.png" width="180" height="126" DisableWebEdit="False" />
								</a>
							</div>
						</div>
						<div>
							<div class="sponser" style="width: 25%;">
								<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
									<img class='b-lazy' src="static/images/patrocinadores/LMS.jpg" width="180" height="126" DisableWebEdit="False" />
								</a>
							</div>
						</div>
						<div>
							<div class="sponser" style="width: 25%;">
								<a href="https://www.emirates.com" rel="noopener noreferrer" class="div sponser-img" target="_blank">
									<img class='b-lazy' src="static/images/patrocinadores/JoaquimTeixeira.JPG" width="180" height="126" DisableWebEdit="False" />
								</a>
							</div>
						</div>

				</div>
			</section>




        </div>
    </div>
</div>


		</body>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Contactos</h2>
					<ul class="actions">
						<li><span class="icon fa-facebook-f"></span> <a href="https://www.facebook.com/gdpenela/">GDPenela</a></li>
						<li><span class="icon fa-envelope"></span> <a href="mailto:gdpenela@gmail.com">gdpenela@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span>Junta de Freguesia de Adaúfe</li>
					</ul>
				</div>
				<!--
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
				-->
			</footer>

		<!-- Scripts
			<script src="assets/js/jquery.min.js"></script>
			-->



</html>