{%extends 'base.html' %}



	{% block head %}
    {% endblock%}


{% block body %}
<body>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/Sede/sede1.jpg') }}" >
          </div>
        </div>
        <div class="carousel-item">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/Sede/sede2.jpg') }}">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img">
              <img class="d-block img-fluid" src="{{ url_for('static', filename='images/Sede/sede3.jpg') }}">
          </div>
        </div>
      </div>
    </div>
    <section class="main">
    <div class="container">



      <div class="row">
        <div class="text-box col-md-offset-1 col-sm-12">
          <h2>Sobre a nossa Sede</h2>
          <p> A 4 de Novembro de 2018, foi inaugurada a sede oficial, o primeiro espaço que o clube tem à sua disposição,
            para poder realizar reuniões e concentrar os seus directores, técnicos, jogadores, sócios e adeptos.
            O Grupo Desportivo de Penela tem agora um espaço próprio para poder reunir o seu material de trabalho,
            mas também o nosso palmarés, entre os quais se encontram as taças de Campeão do Campeonato Amador do Vale
            do Cávado das épocas 2017/18 e 2018/19. Esta nova sede, o primeiro espaço próprio que o clube tem, tem como
            objetivo poder realizar as reuniões da direção e juntar num mesmo espaço, diretores, técnicos, jogadores,
            sócios e adeptos.
            Por fim, o Grupo Desportivo de Penela gostaria de agradecer á junta de Freguesia de Adaúfe pela cedência do
            espaço.
          </p>
        </div>
      </div>
    </div>

  </section>
  <div class="container-fluid">
      <h1>Onde estamos</h1>
      <div class="row">
        <div class="col-sm-4">
            <h3>Morada</h3>
            <p>Av. Imac. Conceição 135, 4710-820 Adaúfe, Braga</p>
        </div>
        <div class="col-sm-8">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Av.%20Imac.%20Concei%C3%A7%C3%A3o%20136%2C%204710-820%20Ada%C3%BAfe&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <a href="https://www.maps-erstellen.de"></a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style>
            </div>
        </div>
      </div>
  </div>

{% endblock %}

</body>