{%extends 'baseLogin.html' %}

{%block head%}

{% endblock %}

{% block body %}

<!-- One -->
<img src="{{ url_for('static', filename='images/treino.jpeg') }}" class="pagTreino">

<div class="pagTreino">
    <label for="epoca">Epoca</label>
    <select id="epoca" name="Epoca">
         {% for dt in treino %}
      <option value="epoca">{{ dt[0].encode("utf-8") }}</option>
        {% endfor %}
    </select>

	 <form method="post">
         <!--
        <input type="submit" onclick="window.location.href = '/treinocompleto';" name="{{ treino }}" value="treino" href="/treinocompleto"/>
        -->
        <input onclick="window.location.href = '/treinocompleto';" type="submit" value="Submit request" />
     </form>


</div>
<!--
<div class="addTreino">
    <img class="addTreino"  src="{{ url_for('static', filename='images/treino.jpeg') }}"/>
    <form class="treino_form" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Epoca</label>
          <select name="inputEpoca" id="inputEpoca" class="form-control">
            <option selected>2019-2020</option>
          </select>
        </div>
      </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Epoca</th>
              <th scope="col">Tipo de Treino</th>
              <th scope="col">Metereologia</th>
              <th scope="col">Local</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {% for treino in data %}
            <tr>
                <td>{{ treino[1] }}</td>
                <td>{{ treino[3] }}</td>
                <td>{{ treino[2] }}</td>
                <td>{{ treino[6] }}</td>
                <td>{{ treino[7] }}</td>
                <td>
                    <form method="post">
                        <input type="submit" onclick="window.location.href = '/treinocompleto';" name="{{ treino }}" value="treino" href="/treinocompleto"/>
                        <input onclick="window.location.href = '/treinocompleto';" type="submit" value="Submit request" />
                    </form>
                </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
-->
<!--
<div class="addTreino">
    <img class="addTreino" src="{{ url_for('static', filename='images/treino.jpeg') }}" class="center"/>
    <form class="treino_form" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Epoca</label>
          <select name="inputEpoca" id="inputEpoca" class="form-control">
            <option selected>2019-2020</option>
          </select>
        </div>
      </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Epoca</th>
              <th scope="col">Tipo de Treino</th>
              <th scope="col">Metereologia</th>
              <th scope="col">Local</th>
              <th scope="col">Data</th>
              <th scope="col">Comentarios</th>
            </tr>
          </thead>
          <tbody>
            {% for treino in data %}
            <tr>
                <td>{{ treino[1] }}</td>
                <td>{{ treino[3] }}</td>
                <td>{{ treino[2] }}</td>
                <td>{{ treino[6] }}</td>
                <td>{{ treino[7] }}</td>
                <td>{{ treino[4] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="presentes">Lista de jogadores:</label>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Jogador</th>
                  <th scope="col">Presente</th>
                  <th scope="col">Motivo/Comentario ao treino</th>
                </tr>
              </thead>
              <tbody>
                {% for jog in listaj %}
                <tr>
                    <td>{{ jog[2] }}</td>
                    <td>
                         <input type="checkbox" class="form-check-input" name="check">
                    </td>
                    <td>
                        <textarea class="form-control" rows="2" id="comment"></textarea>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="form-group">
        <button type="button" class="btn btn-primary btn-md">Gravar Treino</button>
        <input type="submit" value="Save">
      </div>
    </div>
    </form>
</div>
-->
{% endblock%}